/* stylesheet */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
    min-height: 100vh;
}

.header {
    width: 100%;
    padding: 20px 0;
    background-color: #3498db;
    text-align: center;
    font-size: 24px;
    color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
h4 {
    margin-right: 380px;
}

.search-bar {
    margin: 15px auto;
    width: 80%;
    max-width: 600px;
}

.search-bar input[type="text"] {
    width: 70%;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.search-bar button {
    padding: 12px 25px;
    margin-left: 10px;
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.search-bar button:hover {
    background-color: #c0392b;
}

.separator {
    width: 80%;
    height: 2px;
    background-color: #312f2f;
    margin-bottom: 1;
}

.results {
    width: 100%;
    background-color: #f0f0f0;
    flex-grow: 1;
    padding: 20px 0;
}

#result {
    padding-left: 24ch;
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    background-color: #f0f0f0;
    /*border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);*/
}

#result h2 {
    font-size: 24px;
    color: #222224;
    margin-top: 0;
    padding-bottom: 10px;
    border-bottom: 2px solid #eee;
}

.superhero-details {
    padding: 15px 0;
}

.superhero-details h3 {
    color: #e74c3c;
    font-size: 28px;
    margin-bottom: 5px;
}

.superhero-details h4 {
    color: #34495e;
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: normal;
}

.superhero-details p {
    color: #2c3e50;
    line-height: 1.6;
    font-size: 16px;
}
ul.superhero-list {
    list-style-type: disc;
    padding-left: 20px;
}

ul.superhero-list li {
    padding: 5px 0;
}

.not-found {
    color: #e74c3c;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    background-color: #fde8e8;
    border-radius: 5px;
    margin-top: 20px;
}

.error {
    color: #721c24;
    background-color: #f8d7da;
    padding: 15px;
    border-radius: 5px;
    margin-top: 20px;
    text-align: center;
}